.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

.idea
.vscode
.venv

out/

mem/

runs/

__pycache__/

*text/
*labels/
*target_model/
OAR*

data/n2c2*
data/hcl
Pipfile
*.sh
checkpoint-*
distilgpt2*/
*_classification/
preprocessed_dataset/
models/
n2c2_ids/
